body {
    margin: 0;
    background-image: url("images/police.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.314); /* to add opaque color above the background-image */
}

.container {
    padding: 50px;
}

.desc {
    margin-top: 0px;
}

.display {
    width: 200px;
    height: 150px;
    background: gray;
    border-radius: 20px;
    /* make display into a flexbox to center count-el */
    display: flex;
    justify-content: center;
    align-items: center;
}

#count-el {
    font-size: 90px;
}

.record {
    text-align: left;
    font-size: 20px;
}


/* Utlity class */ 
.border-blue {
    border: 1px solid blue;
}