body {
    margin: 0;
    background-image: url("images/police.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.314); /* to add opaque color above the background-image */
}

h1 {
    font-size: 60px;
    margin-top: 0;
}

.container {
    padding: 50px;
}

.desc {
    margin-top: 0px;
    font-size: 40px;
}

.display {
    width: 200px;
    height: 150px;
    background: gray;
    border-radius: 20px;
    /* make display into a flexbox to center count-el */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#count-el {
    font-size: 90px;
}

.record {
    text-align: left;
    font-size: 20px;
}

.btn-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

button {
    border: none;
    padding: 12px 24px;
    flex-basis: 150px; /* the buttons will get 100px width but there will be white space left over */
    flex-grow: 1; /* to get rid of white space to the right of the buttons */
    border-radius: 5px;
    font-size: 18px;
}

/* Utlity class */ 
.border-blue {
    border: 1px solid blue;
}