body {
    margin: 0;
    background-image: url("../images/police.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #3C3331;
    text-shadow: 0px 0px 1px #bd512e;
}

main {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.314); /* to add opaque color above the background-image */
    position: relative;
}

h1 {
    font-size: 98px;
    margin: 0;
    font-family: 'Orelega One', cursive;
    line-height: 150px;
}

span.in-title {
    font-family: 'Shrikhand', cursive;
    font-size: 84px;
}

.container-a {
    display: flex;
    justify-content: end;
    align-items: center;
}

.container-b,
.timer {
    margin-right: 124px;
}

.container-b {
    padding: 50px;
    background: rgba(215, 219, 105, 0.659);
    border-radius: 20px;
}

.desc {
    margin-top: 0px;
    font-size: 40px;
}

.display {
    width: 200px;
    height: 150px;
    background: rgba(124, 141, 138, 0.875);
    border-radius: 20px;
    /* make display into a flexbox to center count-el */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#count-el {
    font-size: 90px;
    font-family: 'Bevan', cursive;
}

.log {
    text-align: left;
    font-size: 25px;
}

#record-el {
    text-align: inherit;
    font-size: inherit;
    font-family: initial;
}

.btn-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

button {
    border: none;
    padding: 12px 24px;
    flex-basis: 150px; /* the buttons will get 100px width but there will be white space left over */
    flex-grow: 1; /* to get rid of white space to the right of the buttons */
    border-radius: 5px;
    font-size: 18px;
    color: #DDD9DA;
    text-shadow: 0px 0px 1px #3C3331;
    cursor: pointer;
}

#increment-btn {
    background: rgba(55, 114, 102, 0.875);
}

#record-btn {
    background: rgba(189, 81, 46, 0.875);
}

#report-btn {
    background: rgba(37, 71, 86, 0.875);
}

#report-btn:hover {
    cursor: not-allowed;
}

/* Utlity class */ 
.border-blue {
    border: 1px solid blue;
}